<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>&copy; 2017 <a href="https://bitbucket.org/yungfa/">
			<a href="https://bitbucket.org/yungfa"><span class="icon icon--bitbucket">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
			 width="13.6752pt" height="16pt" viewBox="0 0 128.000000 150.000000"
			 preserveAspectRatio="xMidYMid meet">
			<metadata>
			Created by potrace 1.14, written by Peter Selinger 2001-2017
			</metadata>
			<g transform="translate(0.000000,150.000000) scale(0.100000,-0.100000)"
			fill="#828282" stroke="none">
			<path d="M375 1465 c-223 -35 -375 -112 -375 -188 0 -12 25 -168 55 -346 54
			-318 55 -325 86 -357 90 -93 337 -154 566 -140 217 14 419 92 452 174 15 37
			111 607 111 659 0 35 -6 48 -36 77 -49 48 -167 92 -310 116 -136 23 -418 26
			-549 5z m487 -100 c154 -23 209 -56 160 -96 -90 -72 -616 -78 -752 -9 -50 26
			-50 48 1 73 89 43 404 60 591 32z m-169 -396 c110 -30 175 -163 131 -267 -52
			-124 -192 -165 -305 -89 -104 70 -108 245 -7 320 60 44 113 55 181 36z"/>
			<path d="M600 869 c-38 -15 -60 -49 -60 -95 0 -73 69 -117 137 -89 31 13 63
			59 63 90 0 29 -30 74 -60 90 -33 17 -45 18 -80 4z"/>
			<path d="M163 435 c-3 -9 5 -73 18 -142 27 -147 44 -175 136 -218 83 -40 172
			-55 324 -55 153 0 254 20 340 67 73 39 85 63 112 209 31 166 28 175 -41 129
			-54 -36 -184 -81 -275 -95 -104 -17 -280 -8 -377 20 -41 12 -108 39 -148 61
			-41 21 -76 39 -78 39 -3 0 -7 -7 -11 -15z"/>
			</g>
			</svg>
			</span><span class="username"> yungfa</span></a>
			</a>, <br>unless otherwise noted.</p>
      </div>

      <div class="footer-col footer-col-2">
        <p align="center">
        Proudly hosted by
        <a href="https://bitbucket.org/">
		
          <!--<img src="\_includes\bitbucket.svg" width="125" height="22" alt="Bitbucket • Social coding"> -->
		  
		  {% include bitbucket.html%}
        </a>
      </p>
      </div>

      <div class="footer-col footer-col-3">
        <p align="right">Powered by <a href="http://jekyllrb.com/">Jekyll</a> and <br> the <a href="https://jekyll.github.io/minima/">Minima Theme</a>.        </p>
      </div>
    </div>

  </div>

</footer>
